<script type="text/template" id="ardoise-text-template">
    <div class="textLine">
        <i class="fa fa-trash fa-lg clear"></i>
        <label class="textLabel">{{=label}}</label>
        <input class="textLabelInput" value="{{=label}}" class="form-control"/>
    </div>
</script>
