<script type="text/template" id="ardoise-dishes-bloc-template">
    <div class="panel panel-{{=theme}}">
        <div class="panel-heading">
            <h3 class="panel-title dishesBlocLine">
                {{ if(order>3){ }}
                <i class="fa fa-trash fa-lg clear"></i>
                {{ } }}
                <label class="dishesBlocLabel modifiable">{{=label}}</label>
                <input type="text" value="{{=label}}" class="dishesBlocLabelInput"/>
                <div class="pull-right">
                    <input class="dishesBlocPriceInput" type="text" value="{{=priceEuro}}" size="3" style="text-align: right"/> €
                </div>
            </h3>
        </div>
        <div class="panel-body {{=id}}">

            <p class="showAddDish">
                 <button class="showAddDishBtn"><i class="fa fa-plus"></i></button>
                 <span class="addDishZone">
                    <i class="fa fa-trash fa-lg hideAddDishBtn"></i>
                    <input type="text" value="" class="addDishLabelInput" name="addDishLabelInput"/>
                    <button class="addDishBtn">Ajouter</button>
                 </span>
            </p>
        </div>
    </div>
</script>