<script type="text/template" id="ardoise-dish-template">
    <div class="dishLine">
        <i class="fa fa-trash fa-lg clearDish"></i>
        <label class="dishLabel modifiable">{{=label}}</label>
        <input class="dishLabelInput" value="{{=label}}"/>
        <input type="text" value="{{=priceEuro}}" maxlength="5" size="3" class="dishPriceInput" style="text-align:right;" >€
    </div>
</script>
