body {
    padding-top: 70px;
    padding-bottom: 30px;
}
table tr .destroy {
    display: none;

    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 22px;
    color: #a88a8a;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

table tr .destroy:hover {
    text-shadow: 0 0 1px #000,
    0 0 10px rgba(199, 107, 107, 0.8);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

table tr .destroy:after {
    content: '✖';
}

table tr:hover .destroy {
    display: block;
}

.panel-body .destroy {
    display: none;

    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 22px;
    color: #a88a8a;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.panel-body .destroy:hover {
    text-shadow: 0 0 1px #000,
    0 0 10px rgba(199, 107, 107, 0.8);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.panel-body .destroy:after {
    content: '✖';
}

.panel-body .photoTbn:hover .destroy {
    display: block;
}
td .nameedit{
    display: none;
}
td .priceedit{
    display: none;
}
td.editing .nameview{
    display: none;
}
td.editing .nameedit{
    display: block;
}
td.editing .priceview{
    display: none;
}
td.editing .priceedit{
    display: inline-block;
}

/* ardoise */
#zoneFormulePrice .formulePriceLabel{
    display: inline-block;
}
#zoneFormulePrice .formulePriceLabelInput {
    display: none;
}
#zoneFormulePrice .editing .formulePriceLabel{
    display: none;
}
#zoneFormulePrice .editing .formulePriceLabelInput{
    display: inline-block;
}

.showAddFormulePrice .showAddFormulePriceBtn{
    display: inline-block;
}
.showAddFormulePrice.editing .showAddFormulePriceBtn{
    display: none;
}
.showAddFormulePrice .addFormulePriceZone{
    display: none;
}
.showAddFormulePrice.editing .addFormulePriceZone{
    display: inline-block;
}

/* dishes bloc */
.dishesBlocLine.editing .dishesBlocLabel{
    display:none;
}
.dishesBlocLine .dishesBlocLabelInput{
    display:none;
}
.dishesBlocLine .dishesBlocLabel{
    display:inline-block;
}
.dishesBlocLine.editing .dishesBlocLabelInput{
    display:inline-block;
}

.showAddDishesBloc .showAddDishesBlocBtn{
    display: inline-block;
}
.showAddDishesBloc.editing .showAddDishesBlocBtn{
    display: none;
}
.showAddDishesBloc .addDishesBlocZone{
    display: none;
}
.showAddDishesBloc.editing .addDishesBlocZone{
    display: inline-block;
}

/* ardoise dish */
.dishLine.editing .dishLabel{
    display:none;
}
.dishLine .dishLabelInput{
    display:none;
}
.dishLine .dishLabel{
    display:inline-block;
}
.dishLine.editing .dishLabelInput{
    display:inline-block;
}

.showAddDish .showAddDishBtn{
    display: inline-block;
}
.showAddDish.editing .showAddDishBtn{
    display: none;
}
.showAddDish .addDishZone{
    display: none;
}
.showAddDish.editing .addDishZone{
    display: inline-block;
}



