<% if(!resto){ %>
<% include inc/complete-resto-info %>
<%}else{%>

<script type="text/javascript">
    var app = app || {};
    app.idResto = "<%=resto.id %>";
</script>

<h4>ESPACE RESTAURATEUR</h4>
<div id="restaurntsContainer" class="container">

    <div class="page">

    </div>
</div>
<% include inc/espace-restaurateur-title.ejs %>
<% include ../resto/inc/edit-ardoise.ejs %>
<% include ../resto/inc/edit-resto-info %>
<% include ../resto/inc/edit-photos %>
<% include ../resto/inc/edit-contact %>

<script src="/js/models/ArdoiseFormulePrice.js"></script>
<script src="/js/models/ArdoiseDishesBloc.js"></script>
<script src="/js/models/ArdoiseText.js"></script>
<script src="/js/models/Ardoise.js"></script>
<script src="/js/models/ArdoiseDish.js"></script>
<script src="/js/models/Constant.js"></script>
<script src="/js/models/Restaurant.js"></script>
<script src="/js/models/Photo.js"></script>
<script src="/js/models/Contact.js"></script>
<script src="/js/collections/Photos.js"></script>
<script src="/js/collections/ArdoiseFormulePriceList.js"></script>
<script src="/js/collections/ArdoiseDishesBlocList.js"></script>
<script src="/js/collections/ArdoiseTextList.js"></script>
<script src="/js/collections/ArdoiseDishList.js"></script>
<script src="/js/views/RestaurantView.js"></script>
<script src="/js/views/RestaurantManagementView.js"></script>
<script src="/js/views/ardoise/ArdoiseFormulePriceView.js"></script>
<script src="/js/views/ardoise/ArdoiseDishesBlocView.js"></script>
<script src="/js/views/ardoise/ArdoiseDishView.js"></script>
<script src="/js/views/ardoise/ArdoiseTextView.js"></script>
<script src="/js/views/ardoise/ArdoiseVisuView.js"></script>
<script src="/js/views/ardoise/helper/ArdoiseFormulePriceHelper.js"></script>
<script src="/js/views/ardoise/helper/ArdoiseDishesBlocHelper.js"></script>
<script src="/js/views/ardoise/helper/ArdoiseDishHelper.js"></script>
<script src="/js/views/ardoise/helper/ArdoiseTextHelper.js"></script>
<script src="/js/views/ardoise/ArdoiseView.js"></script>
<script src="/js/views/ardoise/ArdoisePanelView.js"></script>
<script src="/js/views/PhotoView.js"></script>
<script src="/js/views/PhotosView.js"></script>
<script src="/js/views/ContactView.js"></script>
<script src="/js/routers/Router-restaurateur.js"></script>
<%}%>
