<script type="text/template" id="restoManangement-template">
    {{if (onglet){ }}
    <ul class="nav nav-tabs" role="tablist">
        <li {{ if(onglet==='ardoise'){ }} class="active" {{ } }} ><a href="#edit/ardoise">L'ardoise du restaurant</a></li>

        <li {{ if(onglet==='basicinfo'){ }} class="active" {{ } }} ><a href="#edit">Info restaurant</a></li>
        <li {{ if(onglet==='photo'){ }} class="active" {{ } }} ><a href="#edit/photo">Photos</a></li>
        <li {{ if(onglet==='contact'){ }} class="active" {{ } }} ><a href="#edit/monprofil">Mon profil</a></li>

    </ul>
    {{ } }}
    <div id="restoManagement"></div>
</script>