<div  id="msgPanel" style="display: none;" class="container">

</div>
<script type="text/template" id="msg-template">
    <div class="alert alert-{{=level}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {{=msg}}
    </div>

</script>