<div  id="msgPanel" class="container" style="display: none;">
<div class="alert alert-{{=level}} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    {{=msg}}
</div>
</div>