<div id="restaurntsContainer" class="container">

    <div class="page">


    </div>
</div>
<% include inc/edit-title %>
<% include inc/edit-resto-info %>
<% include inc/edit-ardoise %>
<% include inc/edit-menu %>
<% include inc/edit-photos %>
<% include inc/edit-contact %>
<% include inc/list%>

<script src="/js/models/ArdoiseFormulePrice.js"></script>
<script src="/js/models/ArdoiseDishesBloc.js"></script>
<script src="/js/models/Ardoise.js"></script>
<script src="/js/models/ArdoiseDish.js"></script>
<script src="/js/models/Constant.js"></script>
<script src="/js/models/Restaurant.js"></script>
<script src="/js/models/Dish.js"></script>
<script src="/js/models/Photo.js"></script>
<script src="/js/models/Contact.js"></script>
<script src="/js/collections/Restaurants.js"></script>
<script src="/js/collections/Menu.js"></script>
<script src="/js/collections/Photos.js"></script>
<script src="/js/collections/ArdoiseFormulePriceList.js"></script>
<script src="/js/collections/ArdoiseDishesBlocList.js"></script>
<script src="/js/collections/ArdoiseDishList.js"></script>
<script src="/js/views/RestaurantView.js"></script>
<script src="/js/views/RestaurantManagementView.js"></script>
<script src="/js/views/RestaurantsView.js"></script>
<script src="/js/views/ardoise/ArdoiseFormulePriceView.js"></script>
<script src="/js/views/ardoise/ArdoiseDishesBlocView.js"></script>
<script src="/js/views/ardoise/ArdoiseDishView.js"></script>
<script src="/js/views/ardoise/helper/ArdoiseFormulePriceHelper.js"></script>
<script src="/js/views/ardoise/helper/ArdoiseDishesBlocHelper.js"></script>
<script src="/js/views/ardoise/helper/ArdoiseDishHelper.js"></script>
<script src="/js/views/ardoise/ArdoiseView.js"></script>
<script src="/js/views/ardoise/ArdoisePanelView.js"></script>
<script src="/js/views/MenuView.js"></script>
<script src="/js/views/DishView.js"></script>
<script src="/js/views/PhotoView.js"></script>
<script src="/js/views/PhotosView.js"></script>
<script src="/js/views/ContactView.js"></script>
<script src="/js/routers/Router.js"></script>


