
<div id="restaurntsContainer" class="container">

    <div class="page">


    </div>
</div>
<% include inc/edit %>
<script type="text/javascript">
    new Uploader({ el: "#addRestoForm" });
</script>
<% include inc/list%>
<script src="/js/models/Restaurant.js"></script>
<script src="/js/collections/Restaurants.js"></script>
<script src="/js/views/RestaurantView.js"></script>
<script src="/js/views/RestaurantsView.js"></script>
<script src="/js/routers/Router.js"></script>


