<h2>Log In</h2>
<form action="/login" method="post" id="login" role="form">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" value="" name="username" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" value="" name="password" />
    </div>
  <div class="submit">
    <button>Log In</button>
  </div>
</form>
