<form action="/signup" method="post" id="signup">
  <h2>Sign Up</h2>

  <label for="username">Username</label>
  <input type="text" value="" name="username" />
  
  <label for="password">Password</label>
  <input type="password" value="" name="password" />
  
  <div class="submit">
    <button>Sign Up</button>
  </div>
</form>
