<script type="text/template" id="edit-todaydish-template">
    <br/>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Le plat du jour
        </div>
        <div class="panel-body">
            <div id="leplatdujour">

            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Les plats pour <button class="defineTodayDishBtn">définir le plat du jour</button>
                <button class="cancelDefineTodayDishBtn" style="display: none;">Annuler</button>
                <div class="pull-right"><a type="href" class="addPhoto" id="addPlat" data-toggle="modal" data-target="#addPlatModal"><i class="fa fa-plus-square"></i></a></div></h3>
        </div>
        <div class="panel-body">
            <table class="table todayDishCandidateTable">
                <tr><th></th><th>Photo</th><th>Nom</th><th>Prix</th><th>Récurrence</th><th>Prochaine date</th><th></th></tr>

            </table>
        </div>
    </div>
    <!-- modal to add a photo-->
    <div class="modal fade" id="addPlatModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Ajouter un plat</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label>
                                Nom du plat *
                            </label>
                            <input class="form-control" type="text" name="dishName" id="dishName">
                        </div>
                        <div class="form-group">
                            <label>
                                Prix *
                            </label>
                            <input type="text" name="dishPriceEuro" size="1" id="dishPriceEuro">,<input type="text" name="dishPriceCentimes" value="00" size="1" id="dishPriceCentimes"> €
                        </div>
                        <div class="form-group">
                            <label>
                                Récurrence *
                            </label>
                            <select class="form-control recurrenceCombo" id="recurrenceTodayDish">
                                <option value="lundi">Chaque lundi</option>
                                <option value="mardi">Chaque mardi</option>
                                <option value="mercredi">Chaque mercredi</option>
                                <option value="jeudi">Chaque jeudi</option>
                                <option value="vendredi">Chaque vendredi</option>
                                <option value="samedi">Chaque samedi</option>
                                <option value="dimanche">Chaque dimanche</option>
                                <option value="jamais">Jamais</option>
                            </select>
                            <p id="onlyForDate" style="display: none" class="well"> Uniquement pour la date
                            <input type="text" class="span1" data-date-format="dd/mm/yyyy" id="datepicker" size="8">
                            </p>
                        </div>
                    </form>
                    <p>
                        <input title="Ajouter la photo du plat" type="file" id="todayDishImageUploader"  accept="image/jpeg">
                        <i class="fa fa-refresh fa-spin" id="uploadDishPhotoSpin" style="display: none"></i>
                        <div id="originalDishImage" style="max-width: 600px;"></div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="submitTodayDish">Sauvegarder</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- modal to add a photo-->
    <div class="modal fade" id="confirmationChoixPlatdujourModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Confirmer</h4>
                </div>
                <div class="modal-body">
                    On cliquant "OK", vous définissez ce plat choisi en tant que le plat du jour. Son récurrence sera à la valeur "jamais", et sa date est la valeur d'aujourd'hui.
                    Sinon, cliquez "Annuler" pour changer votre choix.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" id="okForTodayDish">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</script>
<script type="text/template" id="todaydish-template">
    <td>
        <input type="radio" value="{{=todayDish.id}}" name="choseTodayDish" class="choseTodayDish" style="display: none;">
    </td>
    <td>
        <img src="{{=todayDish.get('miniThumbnailPhoto').url()}}" />
    </td>
    <td>
        <label class="nameview">{{=_.escape(todayDish.get('name'))}}</label>
        <input class="nameedit" value="{{= _.escape(todayDish.get('name'))}}">
    </td>
    <td><label class="priceview">{{=todayDish.get('priceEuro')}}</label><input class="priceedit" value="{{= todayDish.get('priceEuro') }}" size="1">,<label class="priceview">{{=todayDish.get('priceCentimes')}}</label><input class="priceedit" value="{{= todayDish.get('priceCentimes')}}" size="1">&nbsp;€
    </td>
    <td>
        {{=todayDish.get('recurrence')==='jamais'?('jamais (pour le '+moment(todayDish.get('onlydate')).format('DD/MM/YYYY')+')') :'chaque ' + todayDish.get('recurrence')}}
    </td>
    <td>
        {{=nextDate}}
    </td>
    <td>
        <span class="destroy"></span>
    </td>
</script>

<script type="text/template" id="platdujour-template">
        <h4>{{=pdjName}} {{=price}}</h4>
        <img src="{{=imgUrl?imgUrl:''}}" alt="vous n'avez pas encore defini le plat du jour" />

</script>

