<script type="text/template" id="addresto-template">
    <form role="form" action="/submitResto" method="post" id="addRestoForm">
        <% include inc-basic-info-resto.ejs%>
        <div class="form-group">
            <label>Prix moyen</label>
            <div class="panel panel-default">
                <div class="panel-body">
                    Midi
                    <input type="text" pattern="\d*" size="1" maxlength="3" name="priceNoon" value="{{=resto? resto.get('priceNoon'):'10'}}" style="text-align:right;"> € <br/><br/>
                    Soir
                    <input type="text" pattern="\d*" size="1" maxlength="3" name="priceEvening" value="{{=resto? resto.get('priceEvening'):'20'}}" style="text-align:right;">  €
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="recommandationReason">Tags (séparés par ";")</label>
            <input type="text" class="form-control" name="tags" value="{{=resto? resto.get('tags'):''}}" />
        </div>
        <div class="form-group">
               <a href="/a/restos" class="btn btn-default">retour</a> &nbsp; &nbsp;
               <input type="submit" id="submitResto" class="btn btn-primary" value="Sauvegarder">
        </div>

    </form>
</script>