<script type="text/template" id="ardoise-panel-template">
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">L'ardoise du

                <input type="text" class="span2" data-date-format="dd/mm/yyyy" id="ardoiseDatepicker" size="16" style="color:darkgray; cursor:pointer" readonly>
                <i class="fa fa-calendar" style="cursor: pointer" id="ardoiseDatePickerIcon"
                   data-toggle="tooltip" data-placement="top" title="Changer la date pour charger l'ardoise d'une date précise"></i>
                <div class="pull-right">
                   <button  type="button" class="btn btn-default"
                            style="padding: 0; padding-left: 5px;" id="visuArdoiseBtn"
                            data-toggle="tooltip" data-placement="top" title="Visualiser">
                       <i class="fa fa-long-arrow-right"><img src="/images/platDuJourIcon30.png" style="height: 25px;"></i>
                   </button>
                </div>
            </h3>
        </div>
        <div class="panel-body">
            <div id="ardoise">

            </div>
        </div>
    </div>
</script>
<script type="text/template" id="ardoise-template">
    <div class="modal fade"  role="dialog" id="importArdoiseModal" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Importer l'ardoise du
                        <input type="text" id="tobeImportedArdoiseDate" size="16" style="color:darkgray;" readonly>
                        <button class="btn btn-success" id="importArdoiseConfirm">OK</button>
                    </h4>

                </div>
                <div class="modal-body">
                    <p class="text-center">
                        <button type="button" class="btn btn-info" id="btnPreviousArdoise"><i class="fa fa-chevron-left"></i></button>
                        <button type="button" class="btn btn-info" id="btnNextArdoise"><i class="fa fa-chevron-right"></i></button>
                    </p>
                    <p class="text-center" id="showImportArdoise"><i class="fa fa-refresh fa-spin"></i></p>

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {{if(modify){ }}
    <div id="ardoiseHeaderZone">

        <form role="form">
            <div class="form-group">
                <input type="text" class="form-control" name="ardoiseTitle" id="ardoiseTitle" value="{{=ardoise.get('title')}}" placeholder="Titre de l'ardoise" />
            </div>
            <div class="well" id="zoneFormulePrice">
                <!-- c'est là où on saisit tous les formules avec le prix-->
                <p class="showAddFormulePrice">
                    <button class="showAddFormulePriceBtn"><i class="fa fa-plus"></i></button>
                    <span class="addFormulePriceZone">
                    <i class="fa fa-trash fa-lg clear hideAddFormulePriceBtn"></i>
                    <input type="text" value="" class="addFormulePriceLabelInput" />
                    <input type="text" value="" class="addFormulePriceEuroInput" size="3"/>€
                    <button class="addFormulePriceBtn">Ajouter</button>
                    </span>
                </p>
            </div>
            <div class="well" id="zoneDishesBlocs">
                <!-- c'est là où on saisit tous les entrées, plats, et dessert-->
                <p class="showAddDishesBloc"><button class="showAddDishesBlocBtn"><i class="fa fa-plus"></i></button>
                 <span class="addDishesBlocZone">
                    <i class="fa fa-trash fa-lg clear hideAddDishesBlocBtn"></i>
                    <input type="text" value="" class="addDishesBlocLabelInput" />
                    <button class="addDishesBlocBtn">Ajouter</button>
                 </span>
                </p>
            </div>
            <div class="well" id="zoneTexts">
                <!-- ceci est une zone de saisie libre-->
                <p class="addTextZone">
                    <input type="text" value="" class="addTextLabelInput" />
                    <button class="addTextBtn">Ajouter</button>
                </p>
            </div>
        </form>
    </div>
    {{ }else if(!alreadyCreatedArdoise){ }}
        <p>Appuyer ce button <button class="btnCreateArdoise btn btn-success btn-lg">Créer</button> pour créer votre permière ardoise!</p>
    {{ }else{ }}
        <p>Vous n'avez pas encore créé une ardoise pour cette date. Vous pouvez</p>
        <p>Appuyer ce button <button class="btn btn-success btn-lg" id="btnImportArdoise">Importer</button> pour créer une ardoise en important l'ardoise d'une autre date</p>
        <p>ou</p>
        <p>Appuyer ce button <button class="btnCreateArdoise btn btn-success">Créer</button> pour créer une ardoise à partir de zero</p>
    {{ } }}

</script>
<% include edit-ardoise/edit-ardoise-formule-price%>
<% include edit-ardoise/edit-ardoise-dishes-bloc%>
<% include edit-ardoise/edit-ardoise-dish%>
<% include edit-ardoise/edit-ardoise-text%>
<% include edit-ardoise/visu-ardoise-modal%>
<% include edit-ardoise/edit-ardoise-import-ardoise-visu-for-modal%>
