<script type="text/template" id="addresto-template">
    <% include edit-title %>
    <form role="form" action="/submitResto" method="post" id="addRestoForm">
        <div class="form-group upload">
        </div>
        <div class="form-group">
            <label for="name">Nom restaurant</label>
            <input type="text" class="form-control" name="name" value="{{=resto? resto.get('name'):''}}" required>
        </div>
        <div class="form-group">
            <label for="address">Adresse</label>
            <input type="text" class="form-control" name="address" value="{{=resto? resto.get('address'):''}}" placeholder="numéro, rue, avenue...." required>
        </div>
        <div class="form-group">
            <div class=""></div>
            <label for="postalCode">Code Postal</label>
            <input type="text" class="form-control" name="postalCode" pattern="\d*" maxlength="5" value="{{=resto? resto.get('postalCode'):'75000'}}" required>
        </div>
        <div class="form-group">
            <label for="city">Ville</label>
            <input type="text" class="form-control" name="city" value="{{=resto? resto.get('city'):'Paris'}}" required>
        </div>
        <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input type="tel" class="form-control" name="telephone" pattern="\d*" value="{{=resto? resto.get('telephone'):'01'}}">
        </div>
        <div class="form-group">
            <label>Horaire d'ouverture</label>
            <ul class="list-group">
                <li class="list-group-item">
                    Midi
                    <input type="text" class="form-control" name="opentimeNoon" value="{{=resto? resto.get('opentimeNoon'):'de 12h à 14h30 (tous les jours)'}}" >
                </li>
                <li class="list-group-item">
                    Soir
                    <input type="text" class="form-control" name="opentimeEvening" value="{{=resto? resto.get('opentimeEvening'):'de 19h à 21h30 (tous les jours)'}}" >
                </li>
            </ul>
        </div>
        <div class="form-group">
               <a href="/restos" class="btn btn-default">Annuler</a> &nbsp; &nbsp;
               <input type="submit" id="submitResto" class="btn btn-primary" value="Soumettre">
        </div>
    </form>
</script>